# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# C#
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.pdb
*.ilk
*.log
*.nupkg
*.snupkg
.vs/
*.DotSettings.user

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
